/* Menu  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 1;

    
  }
  header nav {
    flex-grow: 2;  
  }
  header nav ul {
    display: flex;
    justify-content: flex-start;
   
  }
  header nav ul li {
    display: inline;
    list-style: none;
    width: 10%;

  }
  header nav ul li a {
    display: flex;
    color: var(--main-text-color);
    justify-content: center;
    font-weight: 900;
    text-decoration-line: none;
  }
  