@import url(./main-intro.css);
@import url(./overview-app.css);
@import url(./buttons.css);

main {
 
  width: 50vw;
  height: 50vh;
}

.main-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 
 
}
.main-container article {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}
