/* main-intro */
.main-intro {
    padding-bottom: 5vh;
    z-index: 1;
    color: var(--main-text-color);
    line-height: 4.5vh;
    font-size: 1.5rem;
  }
.abstract {
    color: var(--main-text-color);
    width: 30%;
}