/* main-intro */

.main-intro {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 65%;
    padding-bottom: 5vh;
    padding-top: 15vh;
    z-index: 1;
    color: var(--main-text-color);
    line-height: 8vh;
    font-size: 2.2rem;
  }
.abstract {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);
    width: 65%;
    padding-bottom: 5vh;
    font-size: 1.5rem;
}