/* overview-app  */
.overview-app {
display: flex;
align-items: center;
justify-content: start;
flex-flow: row-reverse;
}

.black-phone{
    width: 24%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    
}

.black-phone .white-phone {
    width: 2%;
    position: absolute;
    top: 0px;
    left: 0px;
}

