/* overview-app  */
.overview-app {
display: flex;
align-items: center;
justify-content: start;
flex-flow: row-reverse;
}

.black-phone{
    width: 24%;
    height: 97vh;
    position: relative;
}
.white-phone{
    width: 24%;
    height: 100vh;
    position: relative;
}
.black-phone .white-phone {
    width: 2%;
    position: absolute;
}

.p1, .p2 {
    height: 70vh;
    margin-top: 30%;
}
