/* overview-app  */
.overview-app {
display: flex;
align-items: center;
justify-content: start;
flex-flow: row-reverse;
height: 150vh;
border: 2px rgb(8, 196, 40) dashed;
}
/* 
.white-phone {
    width: 2%;
    position: relative;
    top: 0;
    left: 0;
}

.black-phone {
    width: 2%;
    position: absolute;
    top: 10px;
    left: 10px;
} */


.black-phone{
    width: 24%;
    position: relative;
    top: 0;
    left: 0;
    
}

.black-phone .white-phone {
    width: 2%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* .p2 {
    margin-bottom: 10px;
} */